/* Slider controls styles */
.slider-controls {
    margin 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 2px solid #1E2F19; /* GB screen border */
    background-color: #9A9E3F; /* GB screen color */
    margin: 10px;
}

/* Arrow button styles */
.arrow-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    outline: none;
    transition: transform 0.2s;
}

/* Arrow styles */
.arrow {
    width: 0;
    height: 0;
    border-style: solid;
}

.arrow-button:hover {
    transform: scale(1.2);
}

/* Left arrow */
.left-arrow {
    border-width: 10px 15px 10px 0;
    border-color: transparent #1b2a09 transparent transparent;
}

/* Left arrow hover */
.arrow-button:hover .left-arrow {
    border-color: transparent #0e450b transparent transparent;
}

/* Right arrow */
.right-arrow {
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #1b2a09;
}

/* Right arrow hover */
.arrow-button:hover .right-arrow {
    border-color: transparent transparent transparent #0e450b;
}



/* Slider styles */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background:  #496b22;
    border-radius: 5px;
    outline: none;
    border: solid 1px #1b2a09;
}

/* Slider thumb styles */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 15px;
    border-radius: 15px;
    background: #1b2a09 !important;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 15px;
    border-radius: 15px;
border: none;
    background: #1b2a09 !important;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
}

.slider::-ms-thumb {
    width: 30px;
    height: 15px;
    border-radius: 15px;
border: none;
    background: #1b2a09 !important;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
}

/* Hover effects on the slider thumb */
.slider::-webkit-slider-thumb:hover {
    background: #0e450b !important;
    transform: scale(1.2);
    border: solid 1px #1b2a09;
}

.slider::-moz-range-thumb:hover {
    background: #0e450b !important;
    transform: scale(1.2);
    border: solid 1px #1b2a09;
}

.slider::-ms-thumb:hover {
    background: #0e450b !important;
    transform: scale(1.2);
    border: solid 1px #1b2a09;
}


/* Scale value styles */
#scaleValue {
    color: #e7e6e2;
    background-color: #10121F;
    padding: 5px 10px;
    border-radius: 15px;
    font-family: 'DragonWarrior', cursive;
    text-align: center; 
    display: inline-block;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    margin: 5px 0 10px 0;
}
}

