/* Custom fonts */
@font-face {
    font-family: 'GameBoy1989'; /*Game Boy Color font */
    src: url('src/fonts/game_boy_1989.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DragonWarrior'; /*Game Boy Color font */
    src: url('src/fonts/dragon-warrior-gbc.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General style for the body */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 10px;
    background-color: #e7e6e2; /* GB white-ish body color */
}

/* Things initially hidden */
#uploadCanvas,
#sliderContainer,
#selectColors,
#outputSection {
    display: none;
}

/* Style for "Welcome to YEP" */
h1 {
    color: #263196; /* GB blue text color */
    font-size: 42px;
    font-weight: normal;
	font-family: 'GameBoy1989', cursive;
}

/* Container to hold the left and right panels */
.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* style for both left and right panels */
.left-panel, .right-panel {
    background-color: #73738a; /* GB bezel color */
    padding: 20px;
    border-radius: 25px;
    border: 3px solid #72737d; /* GB bezel border color */
    flex: 1;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

/* Hide default File Upload button */
#browseButton {
    display: none;
}

/* Buttons */
#file-upload-label,
.slider-container label,
.select-colors,
.preview {
    display: inline-block;
    background-color: #b30f42; /* GB buttons color */
	font-family: 'DragonWarrior', cursive;
    font-weight: bold;
    color: #e7e6e2;
    padding: 10px;
    border-radius: 15px;
	border: 2px ridge #e7e6e2;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
	transition: background-color 0.2s, transform 0.2s;
}

#file-upload-label:hover {
	background-color: #c91252;
    transform: scale(1.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#file-upload-label:active {
    background-color: #a30b3b;
	border: 2px groove #e7e6e2;
    transform: scale(1)
}

.left-panel {
    position: relative;
}

/* Uploaded image canvas style */
#uploadCanvas {
    position: relative;
    border-radius: 5px;
    margin: 10px auto 20px auto;
    image-rendering: pixelated;
	border: 1px dashed black;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

/* Palette container style */
#paletteContainer {
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    flex-wrap: wrap;
}

/* Individual color box style */
.color-box {
    width: 64px;
    height: 64px;
    margin: 0 10px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s, border 0.5s, box-shadow 0.4s;
    cursor: pointer;
    border: 2px solid grey;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

/* Hover effect for color boxes */
.color-box:hover {
    border: solid 2px rgba(255, 0, 0, 1);
}

/* Red overlay */
.color-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

/* Red overlay on hover */
.color-box:hover::after {
    opacity: 1;
}


/* Output style */
.output-container {
    font-family: 'DragonWarrior';
    color: #202c0c; /* DMG palette dark color */  
    background: #9A9E3F; /* GB screen color */
    width: 320px;
    height: 288px;
    padding: 20px;
    border-radius: 3px;
    border: 2px solid #1E2F19; /* GB screen border */
    margin: 30px auto 10px auto;  /* top, right, bottom, left */
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

#output-wrapper {
    flex-grow: 1;
    max-height: 290px;
    text-align: center;
    overflow: auto;
    border: solid 2px #1E2F19;
    padding: 10px;
}

#output-text {
    flex-grow: 1;
    overflow-wrap: anywhere;
    font-size: 16px;
    line-height: 1.5;
}

.output-footer {
    display: flex;
    padding-top: 10px;
    margin-top: auto;
}

.output-footer span {
    text-align : left;
    font-size: 12px;
    margin-left: 20px;
}

#ClickA {
    background-image: url('/YobEasyPalette/assets/buttons/a.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 32px;
}

#ClickA:hover {
    background-image:url('/YobEasyPalette/assets/buttons/a_pressed.png');
    transform: translateY(1px);
    cursor: pointer;
}

#ClickB {
    background-image: url('/YobEasyPalette/assets/buttons/b.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 32px;
}

#ClickB:hover {
    background-image:url('/YobEasyPalette/assets/buttons/b_pressed.png');
    transform: translateY(1px);
    cursor: pointer;
}

/* style specifically for canvases in the right panel */
.right-panel canvas {
    border: 2px solid #9A9E3F; /* GB screen color */
    box-shadow: 0 0 0 2px #1E2F19; /* GB screen border 5 color */
    border-radius: 2px;
    margin: 10px auto;
    display: block;
    image-rendering: pixelated;
}


/* Container for the layers */
.layers-wrapper {
    position: relative;
    width: 320px;
    height: 288px;
    margin: 0 auto;
}

/* Style for each individual layer */
.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    object-fit: contain;
}


/* Icon selection style */
#previewImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

/* Individual icon style in the preview */
#previewImages img {
    width: 64px; /* Width */
    height: 64px; /* Height */
	image-rendering: pixelated;
    border: 4px solid #1E2F19; /* GB screen border 5 */
    border-radius: 25%;
    transition: border-color 0.3s;
    margin: 5px; /* Margin for spacing between icons */
}

/* Hover effect for icons */
#previewImages img:hover {
    border-color: #9A9E3F; /* Change border color to light green on hover*/
}


/* Tooltip container style */
.tooltip-container {
    position: relative;
    display: inline-block;
}

/* Tooltip style */
.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.8); /* Dark background */
    color: #fff; /* Light text */
	font-size: 12px;
	font-family: 'DragonWarrior';
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1; /* On top of other elements */
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show tooltip on hover */
.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Show tooltip on hover */
.button-container button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}



/* Modal style */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

/* Modal content style */
.modal-content {
    background-color: #fefefe; /* Light grey background */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888; /* Light grey border */
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Close button style in modal */
.modal-close {
    color: #aaa; /* Light grey color */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Hover effect for close button */
.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* OK button in modal */
#modalOkBtn {
    background-color: #ad1035; /* Same bright red as main buttons */
    color: white; /* White text color */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for OK button */
#modalOkBtn:hover {
    background-color: #ff4545; /* Lighter red on hover */
}

/* Responsive style for larger screens */
@media (min-width: 600px) {
    .container {
        flex-direction: row; /* Arrange children side by side on larger screens */
    }
}
/* Responsive style for small screens */
@media (max-width: 600px) {
    h1 {
        font-size: 36px; /* Smaller size for heading on mobile */
    }
    .left-panel p {
        font-size: 16px; /* Smaller font size for mobile paragraphs */
    }
    button {
        font-size: 14px; /* Smaller font size for buttons on mobile */
        padding: 8px 12px; /* Smaller padding for buttons */
    }
}
